<?xml version="1.0" encoding="utf-8"?>
<odoo>
<menuitem id="menu_farm_esg_compliance_root"
              name="ESG Compliance"
              sequence="65"
              web_icon="farm_esg_compliance,static/description/icon.png"/>

    
    <menuitem id="menu_epic_101_sustainability_framework"
              name="Sustainable Business Framework"
              parent="menu_farm_esg_compliance_root"
              sequence="1"/>

    
    <menuitem id="menu_triple_bottom_line_metrics"
              name="Triple Bottom Line Metrics"
              parent="menu_epic_101_sustainability_framework"
              action="action_triple_bottom_line_metrics"
              sequence="10"/>

    
    <menuitem id="menu_sustainable_business_model"
              name="Sustainable Business Models"
              parent="menu_epic_101_sustainability_framework"
              action="action_sustainable_business_model"
              sequence="20"/>

    
    <menuitem id="menu_sustainable_supply_chain"
              name="Sustainable Supply Chain"
              parent="menu_epic_101_sustainability_framework"
              action="action_sustainable_supply_chain"
              sequence="30"/>

    
    <menuitem id="menu_sustainable_product_lifecycle"
              name="Product Lifecycle Management"
              parent="menu_epic_101_sustainability_framework"
              action="action_sustainable_product_lifecycle"
              sequence="40"/>

    
    <menuitem id="menu_sustainable_supplier_evaluation"
              name="Supplier Evaluations"
              parent="menu_sustainable_supply_chain"
              action="action_sustainable_supplier_evaluation"
              sequence="10"/>

    
    <menuitem id="menu_epic_83_carbon_neutral"
              name="Carbon Neutral Management"
              parent="menu_farm_esg_compliance_root"
              sequence="20"/>

    
    <menuitem id="menu_carbon_neutral_goals"
              name="Carbon Neutral Goals"
              parent="menu_epic_83_carbon_neutral"
              action="action_carbon_neutral_goal"
              sequence="10"/>

    
    <menuitem id="menu_carbon_credits"
              name="Carbon Credits"
              parent="menu_epic_83_carbon_neutral"
              action="action_carbon_credit"
              sequence="20"/>

    
    <menuitem id="menu_bio_energy_products"
              name="Bio-energy Products"
              parent="menu_epic_83_carbon_neutral"
              action="action_bio_energy_product"
              sequence="30"/>

    
    <menuitem id="menu_epic_97_external_esg"
              name="External ESG Marketplace"
              parent="menu_farm_esg_compliance_root"
              sequence="30"/>

    
    <menuitem id="menu_esg_marketplaces"
              name="ESG Marketplaces"
              parent="menu_epic_97_external_esg"
              action="action_esg_marketplace"
              sequence="10"/>

    
    <menuitem id="menu_esg_marketplace_trades"
              name="Marketplace Trades"
              parent="menu_epic_97_external_esg"
              action="action_esg_marketplace_trade"
              sequence="20"/>

    
    <menuitem id="menu_waste_resource_trades"
              name="Waste Resource Trades"
              parent="menu_epic_97_external_esg"
              action="action_waste_resource_trade"
              sequence="30"/>
</odoo>