<?xml version="1.0" encoding="utf-8"?>
<odoo>
<record id="action_crop_rotation_history" model="ir.actions.act_window">
        <field name="name">Crop Rotation History</field>
        <field name="res_model">farm.crop.rotation.history</field>
        <field name="view_mode">list,form</field>
    </record>

<menuitem id="menu_crop_rotation_root"
              name="Crop Rotation"
              parent="farm_core.menu_farm_root"
              sequence="20"/>

    <menuitem id="menu_crop_rotation_history"
              name="Rotation History"
              parent="menu_crop_rotation_root"
              action="action_crop_rotation_history"
              sequence="10"/>

    
    
</odoo>