<?xml version="1.0" encoding="utf-8"?>
<odoo>
<menuitem id="farm_financial_valuation_menu_root" name="Financial Valuation" parent="base.menu_custom"
              sequence="50"/>

    <menuitem id="menu_financial_asset_valuation"
              name="Asset Valuations"
              parent="farm_financial_valuation_menu_root"
              action="action_financial_asset_valuation"
              sequence="10"/>

    <menuitem id="menu_financial_valuation_template"
              name="Valuation Templates"
              parent="farm_financial_valuation_menu_root"
              action="action_financial_valuation_template"
              sequence="20"/>
</odoo>