<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <!-- Add to main financial menu -->
    <menuitem id="farm_financial_valuation_menu_root"
              name="Financial Valuation"
              parent="farm_financial_core.farm_financial_core_menu_root"
              sequence="50"/>

    <menuitem id="menu_financial_asset_valuation"
              name="Asset Valuations"
              parent="farm_financial_valuation_menu_root"
              action="action_financial_asset_valuation"
              sequence="10"/>

    <menuitem id="menu_financial_valuation_template"
              name="Valuation Templates"
              parent="farm_financial_valuation_menu_root"
              action="action_financial_valuation_template"
              sequence="20"/>

</odoo>