<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_farm_winery_root"
              name="Winery"
              web_icon="farm_winery,static/description/icon.png"
              sequence="46"/>

    <menuitem id="menu_farm_winery_production"
              name="Vinification Orders"
              parent="menu_farm_winery_root"
              action="action_farm_winery_production"
              sequence="10"/>

    <menuitem id="menu_farm_winery_vessels"
              name="Vessels &amp; Barrels"
              parent="menu_farm_winery_root"
              action="action_farm_winery_vessel"
              sequence="20"/>

    <menuitem id="menu_farm_lot_wine"
              name="Wine Batches"
              parent="menu_farm_winery_root"
              action="action_farm_lot_wine"
              sequence="30"/>
</odoo>
