<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <!-- Main IIoT Menu -->
    <menuitem id="menu_iiot_root" name="Industrial IoT" sequence="5"/>

    <!-- Device Management Menu -->
    <menuitem id="menu_iiot_device_management" name="Device Management" parent="menu_iiot_root" sequence="10"/>

    <menuitem id="menu_iiot_device_profile" name="设备配置模板"
              action="action_iiot_device_profile"
              parent="menu_iiot_device_management" sequence="10"/>

    <menuitem id="menu_iiot_device" name="IIoT设备"
              action="action_iiot_device"
              parent="menu_iiot_device_management" sequence="20"/>

    <!-- Telemetry Management Menu -->
    <menuitem id="menu_iiot_telemetry" name="Telemetry Management" parent="menu_iiot_root" sequence="20"/>

    <menuitem id="menu_iiot_telemetry_rule" name="遥测规则"
              action="action_iiot_telemetry_rule"
              parent="menu_iiot_telemetry" sequence="10"/>

    <!-- OTA Management Menu -->
    <menuitem id="menu_iiot_ota" name="OTA Management" parent="menu_iiot_root" sequence="30"/>

    <menuitem id="menu_iiot_firmware" name="Firmware Versions"
              action="action_iiot_firmware"
              parent="menu_iiot_ota" sequence="10"/>

    <menuitem id="menu_iiot_update" name="OTA Update Logs"
              action="action_iiot_update"
              parent="menu_iiot_ota" sequence="20"/>
</odoo>