<?xml version="1.0" encoding="utf-8"?>
<odoo>
<menuitem id="farm_financial_credit_menu_root"
              name="Credit &amp; Risk"
              parent="base.menu_custom"
              sequence="30"/>

    <menuitem id="menu_farm_credit_score"
              name="Credit Scores"
              parent="farm_financial_credit_menu_root"
              action="action_farm_credit_score"
              sequence="10"/>

    <menuitem id="menu_farm_coop_settlement"
              name="Cooperative Settlements"
              parent="farm_financial_credit_menu_root"
              action="action_farm_coop_settlement"
              sequence="20"/>
</odoo>