<?xml version="1.0" encoding="utf-8"?>
<odoo>
<data>
<menuitem id="esg_risk_menu" name="ESG Risk Management" sequence="20" groups="farm_core.group_farm_manager" />

    <menuitem id="esg_risk_assessments_menu" name="Risk Assessments" parent="esg_risk_menu" sequence="10" action="action_esg_risk_assessment" />

    <menuitem id="esg_compliance_monitoring_menu" name="Compliance Monitoring" parent="esg_risk_menu" sequence="20" action="action_esg_compliance_monitoring" />

    <menuitem id="esg_stakeholder_engagement_menu" name="Stakeholder Engagement" parent="esg_risk_menu" sequence="30" action="action_stakeholder_engagement" />

    <menuitem id="esg_kpis_menu" name="KPIs" parent="esg_risk_menu" sequence="40" action="action_esg_kpi" />
</data>
</odoo>