<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <!-- Multi-Entity Collaboration Main Menu -->
    <menuitem id="multi_farm_root_menu"
              name="Multi-Entity Collaboration"
              sequence="50"
              web_icon="farm_multi_farm_base,static/description/icon.png"/>

    <!-- Entity Management Menu -->
    <menuitem id="multi_farm_entities_menu"
              name="Entity Management"
              parent="multi_farm_root_menu"
              sequence="10"/>

    <menuitem id="cooperative_entity_menu"
              name="Cooperatives"
              parent="multi_farm_entities_menu"
              action="action_cooperative_entity"
              sequence="10"/>

    <menuitem id="farm_entity_menu"
              name="Farm Entities"
              parent="multi_farm_entities_menu"
              action="action_farm_entity"
              sequence="20"/>

    <menuitem id="franchise_farm_menu"
              name="Franchise Farms"
              parent="multi_farm_entities_menu"
              action="action_franchise_farm"
              sequence="30"/>

    <menuitem id="resource_sharing_menu"
              name="Resource Sharing"
              parent="multi_farm_entities_menu"
              action="action_resource_sharing"
              sequence="40"/>

    <!-- Cooperative Member Menu -->
    <menuitem id="cooperative_member_menu"
              name="Members"
              parent="multi_farm_root_menu"
              action="action_cooperative_member"
              sequence="20"/>

    <!-- Regional Oversight Menu -->
    <menuitem id="regional_oversight_menu"
              name="Regional Oversight"
              parent="multi_farm_root_menu"
              sequence="30"/>

</odoo>