<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <!-- Main financial menu -->
    <menuitem id="farm_financial_core_menu_root"
              name="Financial Core"
              sequence="40"
              web_icon="farm_financial_core,static/description/icon.png"/>

    <menuitem id="farm_financial_core_config_menu"
              name="Configuration"
              parent="farm_financial_core_menu_root"
              sequence="10"/>

    <menuitem id="menu_financial_cost_category"
              name="Cost Categories"
              parent="farm_financial_core_config_menu"
              action="action_financial_cost_category"
              sequence="10"/>

    <menuitem id="menu_financial_cost_template"
              name="Cost Templates"
              parent="farm_financial_core_config_menu"
              action="action_financial_cost_template"
              sequence="20"/>

</odoo>