<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_farm_gov_root" name="Gov Oversight" 
              parent="farm_core.menu_farm_root" sequence="90"/>

    <menuitem id="menu_gov_audit_snapshots" name="Audit Snapshots" 
              parent="menu_farm_gov_root" action="action_gov_audit_snapshot" sequence="10"/>
</odoo>
